<!-- footer -->
<footer class="footer">
    <div class="footer-content">
        <div>
            Copyright © 2019 <a href="/">Data4e</a> All Rights Reserved.
        </div>
        <div>
            <a href="https://github.com/data4e/data4e" target="_blank">Github</a>
        </div>
        <div><a href="#">关于</a> | <a href="#">声明</a> | <a href="#">建议反馈</a> | <a href="#">联系我</a></div>
    </div>
</footer>
<style>
    .footer {
        background-color: #343a40;
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0;
        clear: both;
        padding-top: 10px;
    }
    .footer-content {
        margin: 0 100px 0 100px;
        height: 100%;
        text-align: center;
    }
    .footer-content div {
        color: #e8eaec;
        font-size: 10px;
    }
    .footer-content a {
        color: #e8eaec;
        text-decoration: none;
    }
</style>