<!-- footer -->
<div class="footer">
    <div class="footer-links">
        <p><a href=""> s </a></p>
        <p><a href="">简介</a></p>
        <p><a href="">说明</a></p>
    </div>
    <div class="footer-site-info">
        <ul>
            <li>323</li>
            <li>312312</li>
        </ul>
    </div>
    <div class="footer-copyright">
        ssss
    </div>
</div>
<style>
    .footer {
        background-color: #343a40;
        width: 100%;
        height: 300px;
        {#padding: 0 100px 0 100px;#}
        display: inline-flex;
        display: -webkit-inline-flex;
        justify-content: center;
        align-items: stretch;
    }
    .footer div {
        flex: 1;
        text-align: center;
    }
    .footer a{
        color: aliceblue;
    }

</style>