<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>data4e | {{title}}</title>
</head>
<body>
    <div class="container">
        {% include 'framework/header.html' %}
        <br>
        <div class="content">
            {% block content_left %}
            {% endblock %}
            {% block content_right %}
            {% endblock %}
        </div>
        <br>
        {% include 'framework/footer.html' %}
    </div>
</body>

<style>
    html,body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .container {
        min-height: 100%;
        height: auto !important;
        position: relative;
        background-color: #e8eaec;
    }
    .content {
        margin: 10px 100px 90px 100px;
        padding: 10px;
        border-radius: 5px;
    }
</style>
</html>