<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Django 网站 | data4e.cn</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    DATA4E.cn
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search……">
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                    <li class="dropdown"><a href="#"><span class="glyphicon glyphicon-briefcase"></span> 工具</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-th-list"></span> 文章</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> 教程</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-download" ></span> 资源下载</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a id="user-info" class="dropdown-toggle user-info" data-toggle="dropdown" href="#">
                                <img class="avatar" src="https://img.hacpai.com/avatar/1505456507935_1562228743747.jpeg" alt="">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a>欢迎 {{ request.user }}</a></li>
                                <li class="divider"></li>
                                <li><a href="#">发布</a></li>
                                <li><a href="{% url 'users:profile' %}">个人中心</a></li>
                                <li><a href="#">设置</a></li>
                                <li><a href="/">消息中心<span class="badge pull-right"> 50</span></a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'users:logout' %}">退出</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'users:login' %}" class="user-info">
                                <span class="glyphicon glyphicon-log-in"></span> 登录/注册
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </nav>
    <div class="content-default">
        {% block content %}

        {% endblock %}
    </div>
    <footer>
        <div class="footer-content">
            <div>
                Copyright © 2019 <a href="/">Data4e</a> All Rights Reserved.
            </div>
            <div>
                <a href="https://github.com/data4e/data4e" target="_blank">Github</a>
            </div>
            <div><a href="#">关于</a> | <a href="#">声明</a> | <a href="#">建议反馈</a> | <a href="#">联系我</a></div>
        </div>
    </footer>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>