<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>data4e | 注册</title>
</head>

<body>
    <div class="login-content">
        <form action="{% url 'users:register' %}" method="post">
            {% csrf_token %}
            用户名: <input type="text" name="username"><br>
            密码: <input type="password" name="password">
            <br>
            <p>
                {{ msg }}
                {% for key,err in user_register_form.errors.items %}
                    {{ err }}
                {% endfor %}
            </p>
            <button type="submit">注册</button>
        </form>
    </div>
</body>
<style>
    body {
        padding-top: 200px;
        background-image: url("{% static '/images/th.jpeg' %}");
        background-repeat:no-repeat;
        background-size: 110%;
    }
    .login-content {
        width: 500px;
        height: 200px;
        background-color: #e8eaec;
        border-radius: 6px;
        margin: 0 auto;
        box-shadow: 6px 6px 3px #343a40;
        text-align: center;
        padding: 10px;
    }
</style>