{% extends 'base.html' %}
{% block content_left %}
    this is tools !
    dasd
    adsd
    asd
    adsd
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
    <br>
    dasda
    <br>
    sasda
    <br>
{% endblock %}