{% extends 'base.html' %}
{% block content_left %}
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
{% endblock %}

{% block content_right %}
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br><br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
    <br>
    dadsas
    <br>
{% endblock %}